/*  tooltip  */
img{
    width: 100px;
}

.skill h3 {
    background-color: rgb(0, 162, 255);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    opacity: 0;
}

.knowledge>div:hover h3,
.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -110px);
}