/* Colores del sitio */

.colorHeader {
    background-color: #f3f4f7;
    color: whitesmoke;
}
.colorFooter {
    background-color: #131212;
    color: whitesmoke;
}
.color2 {
    background-color: #779FA1;
    color: black;
}

.colorMain {
    background-color: #e0d5c2;
    color: black;
}

.color4 {
    background-color: #FF6542;
    color: whitesmoke;
}

.color5 {
   background-color: #564154; 
   color: white;
}

.retorno a{
    color:#E0CBA8;
    font-size: larger;
}

.retorno a:hover{
    color: #779FA1;
}