* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 7rem;
    position: relative;
    min-height: 100vh;
    padding-bottom: 8rem;
    background-color: #768b8b;
}
/* TAMAÑO TITULOS */
h1, h2, h4 {
    text-align: center;
    padding: 1%;
}

h1 {
    font-weight: 700;
}

h2 {
    height: 4rem;
}
/*     fin   titulos     */


/* el mosquito, mejor puede ser  otro logo mas copado*/
.ico1 { 
    width: 60px;
    padding: 0px;
    background-color: #E0CBA8;
}


/* LISTA del menu principal*/

ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
}

li {
    padding: 0%;
    margin: 5%;  
}

.menuBurger {
    width: 50px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #E0CBA8;
}

.menuBurger:hover {
    background-color: whitesmoke;
}

.lupaimagen {
    width: 80px;
    
}
/* aca empieza la distribucion de los bloques en el header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5px;
}

main{
    max-height: 100vh;
    overflow-y: auto;
    margin-bottom: 60px;
}
    
.container{
    display: flex;
    justify-content: space-around;
}
 

/* caracteristicas de los icon de accesos a redes sociales*/
.logo {
    width: 2rem;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.registro{
    border: 1px solid #779FA1; 
    border-radius: 5px;
}

fieldset{
    padding: 10px;
    border: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: auto;
}


.retorno{
    padding-top: 5px;
    padding-bottom: 20px;
}


/* Puntos de corte */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    h1 {
        text-align: left;
    }

    body {
        padding-top: 8rem;
    }
    header {
        height: 5rem;
    }        
    
   
    .menuPpal {
        display: none;
    }

    .articulos {
        grid-template-columns: 90%;
        justify-content: space-around;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    header {
        height: 6rem;
    }

    .menuBurger {
        display: none;
    }

    body {
        padding-top: 6rem;
    }

    .articulos {
        grid-template-columns: 45% 45%;
        justify-content: space-around;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
       position: absolute;
        height: 7rem;
    }

    nav{
        align-items: safe;
    }

    .menuBurger {
        display: none;
    }

    body {
        padding-top: 7rem;
    }
    
    .articulos{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }
    .carousel{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        position: static;
    }
}