
.box { display: flex;
    justify-content: center;
    gap: 20px;
    flex-basis: auto;
    background-color: white;
}


.box :first-child{
    margin-right: 0px;
}

.ico1{
    width: 90px;
    display:block;
}
 
.titulo {
    display:block;
    font-size: larger;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
  
body{
    background: #F3F4F8;
    
}
.mapadiv{
    width: 90%;
    margin: auto;
    position: absolute;
    z-index: 6;
}
.fondo{
    position: absolute;
    z-index: 4;
    width: 100%;
    margin: 0;
    padding: 0%;
}
.mapadiv path{
    fill: rgb(166, 192, 192);
    stroke: black;
    stroke-width: 1px ;
}

.mapadiv :hover{
    fill: rgb(240, 249, 255);
    }

.titu {
    
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: blue;
    font-weight: 400;
    font-style: normal;
}