body{
    background: rgb(133, 133, 253);
}
.mapadiv{
    width: 100%;
    margin: auto;
}
.mapadiv path{
    fill: rgb(42, 158, 158);
    stroke: black;
    stroke-width: 1px ;
}

.mapadiv :hover{
    fill: azure;
    }

.titu {
    
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: blue;
    font-weight: 400;
    font-style: normal;
}