
h1,h2{font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:  #564154;
}
.header{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}
hr{
    border-width: 2px 
    }   

.logo{
    display: flex;
    align-items: center;
}
.logo img {
  width: 60px;
  padding: 0px;
  margin-right: 10px
   }
   

 article {
    margin: 2%;
    padding: 2%;
    border: 5px solid  #779FA1;
    border-radius: 5px;

}
section{
    display: grid ;
    grid-template-columns: 2fr 1fr;
    margin:25px auto;

}
.image1{
    background: url(../img/picadura.jpg);
background-size: cover;
background-position: center;
width: 100%;
height: 200px;


}
.picture-2{
    background: url(../img/repelente.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}    

.imageSintomas{
    background: url(../img/dintomas\ dengue.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}
.imagenPre{
    display: block;
    max-width: 200px;
    align-items: center;
    margin: auto;
}
.imagenPasos{
    display: block;
    max-width: 100%;
    align-items: center;
    margin: auto;
}

footer{
    background-color: black;
    height: 80PX;
    width: 100%;
    color: white;
    margin:auto;
    text-align: center;
}

.btn-volver{
    background-color: rgb(58, 99, 109);
    border :10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;

}
picture{
    display:flex
}
@media screen and (max-width:992px){
    .section-2 {
        grid-template-columns: repeat(1, 1fr);
    
    }
}
@media screen and (max-width: 768px){
    .section-2{
    grid-template-columns: repeat(1,1fr);  
}
}