
h1,h2{font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:  #564154;
}
.header{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}
hr{
    border-width: 2px 
}   
    
.logo {
    width: 2rem;
    height: auto;
}
.logo1{
    display: flex;
    align-items: center;
}
.ico1 {
    width: 100px;
    padding: 0px;
    margin-right: 10px}
li{
    text-align: left;
    margin-bottom: 10px;
}
   

 article {
    margin: 2%;
    padding: 2%;
    border: 5px solid  #779FA1;
    border-radius: 5px;
    text-align: center;

}
section , .section-2{
    display: grid ;
    grid-template-columns: 2fr 1fr;
    margin:25px auto;

}
.image1{
    background: url(../img/picadura.jpg);
background-size: cover;
background-position: center;
width: 100%;
height: 200px;


}
.picture-2{
    background: url(../img/repelente.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}    

.imageSintomas{
    background: url(../img/dintomas\ dengue.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}
.imagenPre ,.imagenProh{
    display: block;
    max-width: 200px;
    align-items: center;
    margin: auto;
}
.imagenPasos{
    display: block;
    max-width: 100%;
    align-items: center;
    margin: auto;
}
footer{
    background-color: black;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.video-container {
    position: relative;

}

.video-container video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:992px){
    .section-2 , section {
        grid-template-columns: repeat(1, 1fr);
    
    }
}
@media screen and (max-width: 768px){
    .section-2 , section{
    grid-template-columns: repeat(1,1fr);  
}
}